@import "./src/main";
@import "elr-scss-reset/src/main";

@include elr-reset;

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.main-heading {
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.subheading {
  font-size: 16px;
  color: #666;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.demo-content {
  position: relative;
  padding: 20px 0;
}

.elr-label {
  @include elr-label;
  margin: 10px 5px;
}

.elr-pill-label {
  @include elr-label(
    $config: (
      border-radius: 30px,
    )
  );
}

.elr-label-info {
  @include elr-label-context(
    $config: (
      type: "info",
    )
  );
}

.elr-label-danger {
  @include elr-label-context(
    $config: (
      type: "danger",
    )
  );
}

.elr-label-warning {
  @include elr-label-context(
    $config: (
      type: "warning",
    )
  );
}

.elr-label-success {
  @include elr-label-context(
    $config: (
      type: "success",
    )
  );
}

.elr-label-muted {
  @include elr-label-context(
    $config: (
      type: "muted",
    )
  );
}

.corner-label-box {
  position: relative;
  background-color: #fff;
  border: 1px solid #333;
  width: 300px;
  height: 300px;
}

.elr-label-corner-top-left {
  @include elr-label-corner(
    $config: (
      position-y: "top",
      position-x: "left",
    )
  );
}

.elr-label-corner-top-right {
  @include elr-label-corner(
    $config: (
      position-y: "top",
      position-x: "right",
    )
  );
}

.elr-label-corner-bottom-left {
  @include elr-label-corner(
    $config: (
      position-y: "bottom",
      position-x: "left",
    )
  );
}

.elr-label-corner-bottom-right {
  @include elr-label-corner(
    $config: (
      position-y: "bottom",
      position-x: "right",
    )
  );
}

.elr-label-ribbon {
  @include elr-label-ribbon;
}
