@import 'node_modules/elr-scss-functions/main';

@mixin elr-label-corner($config: ()) {
  $config: extend(
    (
      position-y: 'top',
      position-x: 'left',
      bg-color: #333,
      color: #fff
    ),
    $config
  );

  $y: map-get($config, position-y);
  $x: map-get($config, position-x);
  $bg-color: map-get($config, bg-color);
  $color: map-get($config, color);

  position: absolute;
  #{$y}: 0;
  #{$x}: 0;
  padding: 0;
  margin: 0;

  .elr-label-triangle {
    width: 0;
    height: 0;
    border-width: 30px;
    border-style: solid;
    text-align: center;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;

    @if $y == top {
      border-bottom-color: transparent;
    }

    @if $y == 'bottom' {
      border-top-color: transparent;
    }

    @if $x == 'left' {
      border-right-color: transparent;
    }

    @if $x == 'right' {
      border-left-color: transparent;
    }
  }

  .elr-label-icon {
    font-size: 14px;
    position: absolute;
    color: $color;

    @if $y == 'top' {
      top: 10px;
    }

    @if $y == 'bottom' {
      top: 30px;
    }

    @if $x == 'left' {
      left: 12px;
    }

    @if $x == 'right' {
      right: 12px;
    }
  }
}
